/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

.main {
	background: radial-gradient(#050010, #000030, #200020, #000000);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	80% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sides {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90vw;
}

.side {
    display: flex;
    height: 100vh;
    width: 25vw;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 50vh;
    border-radius: 2vh;
}

.selector1 {  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 35vh;
}

.selection {
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
    border-radius: 15px;
    margin: .5vh;
    font-family: med;
    border: #ffffff50 1px solid;
    cursor: pointer;
}

.selection:hover {
    border: #ffffffcc 1px solid;
    transition: 0.3s;
}

.active {
    border: #ff66ffcc 1px solid;    
    color: #ff66ffcc;
    font-family: bold;
    transition: 0.3s;
}

.button:active {
    border: #ff66ffcc 1px solid;
    color: #ff66ff;
    font-family: bold;
}

.column {
    flex-direction: column;
}

.rollednumber {
    font-family: bold;
    font-size: 15vh;
    color: white
}

.rolledraw {
    color: white;
    font-family: lite;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: auto;
}

.pad {
    padding-right: 0.5vw;
}


@font-face {
    font-family: med;
    src: url(../asset/fonts/Outfit-Medium.ttf)
}

@font-face {
    font-family: bold;
    src: url(../asset/fonts/Outfit-Bold.ttf)
}

@font-face {
    font-family: lite;
    src: url(../asset/fonts/Outfit-Light.ttf)
}
